.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__menu-button {
  background: transparent url("../../../images/menu.png") no-repeat;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: none;
  display: none;
}

.header__menu-button_white {
  background: transparent url("../../../images/menu-white.png") no-repeat;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: none;
  display: none;

}

@media screen and (max-width: 780px) {

  .header__menu-button,
  .header__menu-button_white {
    display: block;
  }

}