.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty__label {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}