.searchForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 228px;
}
.searchForm__form{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #E8E8E8 solid;
}

.searchForm__title{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
   
}
.searchForm__input{
    background: #F9F9F9;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 10px;

}
::placeholder {
    color: #A0A0A0;
    opacity: 1;
}

.searchForm__button{
    cursor: pointer;
    background: #3456F3;
    border-radius: 8px;
    border: none;
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.searchForm__button:hover {
    opacity: 0.7;
}

.searchForm__check{
    margin-top: 29px;
}