.cardList {
  list-style-type: none;
  color: #000000;
  padding: 0;
}

.moviesCardList {
  flex: 1 0 auto;
}

@media screen and (max-width: 590px) {
  .cardList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}