.profile {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 396px;
  width: calc(100% - 20px);
  height: 100vh;
  color: #000000;
}

.profile__top {
  margin-top: 70px;
  text-align: left;
  width: 100%;
}


.profile__title {
  margin: 40px 0 16px;
  align-self: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  text-align: left;
  width: 100%;
  margin-bottom: 65px;
}
.profile__field {
      border-bottom: #E8E8E8 1px solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
}

.profile__field:last-of-type{
    border-bottom: none;
}

.profile__field-name {

font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
width: 140px;
/* identical to box height */


color: #000000;
}

.profile__input {
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
text-align: right;
color: #000000;
border: none;
width: 100%;
background-color: rgb(255, 255, 255) !important;
}

.profile__bottom {
  margin: 70px 0;
  width: 100%;
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.profile__change{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
    color: #000000;
    cursor: pointer;
}
.profile__logout{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;  
    text-align: center;
    cursor: pointer;
    color: #FF3055;
}